.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    top: 250px;
    left: 50px;
    &__link {
        &:hover {
            svg path {
                fill: red;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }
    &__text {
        height: 150px;
        width: 28px;
        span {
            display: block;
            width: 150px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            transform: rotate(-90deg) translate(-30%,-260%);
        }
    }
}
@media screen and (max-width: 1024px) {
    .sidepanel {
        left: 25px;
        top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .sidepanel {
        top: 16px;
    }
}
@media screen and (max-width: 425px) {
    .sidepanel {
        display: none;
    }
}